<div class="container" id="cont-about">

	<div class="main-about">
		<%= image_tag "moi.jpg" %>
		<div class="about-text"
			<p>Salut!Je m'appele Moubarak Saly</p>
		</div>
		<br>
		<br>
		<br>
		<br>
		<div id="about-text"></br>
			<p>Né en 1995 en France , je suis parti en Inde a l'âge de 9 ans. J'ai vécu là-bas des moments inoubliables. Après avoir passé mon BAC STG, je suis revenu en France.     </p>
			<p>J'ai commencé par une filière en comptabilité où je n'ai pas trouve ma place. Je continue donc mes études dans le domaine de l'informatique, un domaine que je trouve très intéressant et maintenant c'est devenu ma passion. </p>
		</div>
	</div>

</div>
