<div class="container" id="cont-about">

	<div class="main-about">
		<%= image_tag "moi.jpg" %>
		<div class="about-text"
			<p>Salut!Je m'appele Moubarak Saly</p>
		</div>
		<br>
		<br>
		<br>
		<br>
		<div id="about-text"></br>
			<p>Née en 1995 en France . Je suis parti en Inde a l'age de 9 ans ou j'ai passe des beau moments . Apres mon BAC  je suis revenu en Frnance.     </p>
			<p>J'ai commence par faire de la comptable ou j'ai pas trouve ma place. J'ai continue dans l'informatique que j'ai trouve interssant et c'est devenu ma passion. </p>
		</div>
	</div>

</div>
