<div class="container" id="cont-port"></div>

<div class="port">
	<div class="images">
		<div class="img-row">

			<div class="img-port">
				<%= image_tag 'androidgsb.png' %>
				<h3>GSB application </h3>
				<p>Voici mon application GSB realise pour mon 2 années de PPE .</p>
			</div>


			<div class="img-port">
				<%= image_tag 'webh.png' %>
				<h3>000webhost </h3>
				<p>C'est un hébergement Web avec Php, MySQL  </p>
			</div>

		</div>
		<div class="img-row">
    <div class="img-port">
      <%= image_tag 'ftp.jpg' %>
      <h3>Filezilla </h3>
      <p> C'est un FTP client pour Windows qui permet de deposser les fichier php dans notre serveur.</p>
    </div>



	</div>
  </div>
</div>
