<div class="container" id="cont-port"></div>

<div class="port">
	<div class="images">
		<div class="img-row">

			<div class="img-port">
				<%= image_tag 'hhtmlcss.png' %>
				<h3> GSB  </h3>
				<p>Voici mon premier site fait avec mon ami Taufiq en premier année de PPE . </p>

			</div>





  </div>
  </div>
