<div class="container" id="cont-port"></div>

<div class="port">
	<div class="images">
		<div class="img-row">

			<div class="img-port">
				<%= image_tag 'java.png' %>
				<h3>Base  </h3>
				<p>Cree des objets et des fontions </p>
			</div>


			<div class="img-port">
				<%= image_tag 'java1.png' %>
				<h3>Donne </h3>
				<p>Pour cree des collections d'obejts </p>
			</div>

		</div>
    <div class="img-port">
      <%= image_tag 'JFrame.png' %>
      <h3>JFrame </h3>
      <p>L'utilisation de JFrame pour cree des interface et des animations ?</p>
    </div>


    <div class="img-port">
      <%=  %>
      <h3></h3>
      <p> </p>
    </div>

  </div>
</div>
