<div class="container" id="cont-port"></div>

<div class="port">
	<div class="images">
		<div class="img-row">

			<div class="img-port">
				<%= image_tag 'jq.png' %>
				<h3>Un ToDo Liste </h3>
				<p>Voici un ToDO liste realise jQuery et <%= link_to 'Annyang'.html_safe, 'https://www.talater.com/annyang/' %> </p>
      <p> <%= link_to 'Annyang'.html_safe, 'https://www.talater.com/annyang/' %> est une petite bibliothèque javascript qui permet au utilisateur de contrôler le site avec des commandes vocales .  </p>
			</div>





  </div>
  </div>
