<div class="container" id="cont-port"></div>

<div class="port">
	<div class="images">
		<div class="img-row">

			<div class="img-port">
				<%= image_tag 'pfc.png' %>
				<h3>Pierre Feuille Ciseaux  </h3>
				<p>Voici un jeux que vouz connaisez. Joue contre un ordinateur . </p>
			</div>


			<div class="img-port">
				<%= image_tag 'jslist.png' %>
				<h3>Liste</h3>
				<p>Recherche votre contact a l'aide de cette list.  </p>
			</div>
    </div>


  </div>
  </div>
