<div class="container" id="cont-port"></div>

<div class="port">
	<div class="images">
		<div class="img-row">

			<div class="img-port">
				<%= image_tag 'DotNEt.png' %>
				<h3>Une application  </h3>
				<p>Cette application consiste a se connecter a l'etablissement .</p>
			</div>


			<div class="img-port">
				<%= image_tag 'mssql.png' %>
				<h3>MS SQL</h3>
				<p>Cree une base de donne pour l'application sous MS SQL .</p>
			</div>
    </div>


  </div>
  </div>
