<div class="container" id="cont-port"></div>

<div class="port">
	<div class="images">
		<div class="img-row">

			<div class="img-port">
				<%= image_tag 'node2.png' %>
				<h3>Un site   </h3>
				<p>Un site fait avec le framework Express.js</p>
			</div>


			<div class="img-port">
				<%= image_tag 'nodechat.png' %>
				<h3>Un chat </h3>
				<p>Un chat fait en temp réel avec socket.io . On peut voir ici l'avantage de Node.js . </p>
			</div>
    </div>


  </div>
  </div>
