<div class="container" id="cont-port"></div>

<div class="port">
	<div class="images">
		<div class="img-row">

			<div class="img-port">
				<%= image_tag 'symfonyy.png' %>
				<h3>GSB Site </h3>
				<p>Voici mon site GSB realise pour mon 2 années de PPE . </p>
			</div>


			<div class="img-port">
				<%= image_tag 'Bootstrap.jpg' %>
				<h3>Bootstrap  </h3>
				<p>C'est en realisant le site que j'ai pris connaisance de Bootstrap .  </p>
			</div>



  </div>
</div>
</div>
